

*{padding: 0; margin: 0;}



.navigation{
  position: fixed;
}

.nav-all{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 60px;
}

.home {
  margin-right: 43px;
}

.d-block {
  display: block;
  width: 35px;
  height: 35px;
  color: white;
}


.home-icon{
  width: 40px;
  height: 40px;
}

.search{
  display: flex;
  height: 35px;
  width: 500px;
}

.search-bar {
  margin-right: 40px;
}

.btn-more-icon{
  margin-left: 30px;
}
.search-icon, .btn-more-icon {
  width: 100%;
  height: auto;
}

nav {
  position: relative;
}

.account {
  position: absolute;
  top: 0;
  right: 20px;
}

.account a {
  margin-left: 20px;
  line-height: 60px;
  color: #fff;
}

.account a:hover {
  text-decoration: none;
  color: #fff;
}

.account{
  display: flex;
  justify-content: flex-end;
  height: 60px;
}



.body-box{
  width: 900px;
  margin: 0 auto;
}

.main-content{
  display: flex;
  flex-direction: column;
}

.user-post{
  display: flex;
  flex-direction: row;
  padding: 12px;
  border: 1px;
  position: relative;
  transition: all 0.5s;
}
.user-post:hover{
  box-shadow: 0px 10px 16px rgba(0,0,0,0.3);
}
.user-post:hover a{
  text-decoration: none;
}

.sub-data{
  display: flex;
  flex-direction: column;
  padding-left: 400px;

}

.sub-data p{
  display: inline-block;
  padding: 5px;
}

.sub-image{
  width: 20px;
  height: 20px;
}
